*{
    font-family: "Roboto", sans-serif;
}
body{
    margin: 0px;
}

.home{
    background-image: url(../images/hero\ img.jpg);
    height: 100vh;
    background-size: cover;
    position: relative;
    color: whitesmoke;

}
.layer{
    background-color: rgba(0, 0, 0, .6);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.nav-bar{
    
    width: 80%;
    margin: auto;
    padding: 10px;
    
}

.logo{
   
    width: 30%;
    float: left;
}
.logo h2{
    color: #ff305b;
    font-size: 24px;
    font-weight: 800;
}
.list{
   
    width: 60%;
    float: right;
}
.list ul li{
    display: inline-block;
    margin: 0px 10px ;
    
}
.list ul li a{
    text-decoration: none;
    color: white;
    font-weight: 200;
    transition: all .5s;
}
.list ul li a:hover{
    color: #ff305b;
}
.clear-fix{
    clear: both;
}
.home-content{
    text-align: center;
    width: 50%;
    margin: auto;
    margin-top: 150px;
}
 .home-content h3{
    font-size: 30px;
    margin: 0px;
    
 }
 .home-content h1{
    font-size: 70px;
    margin: 0px;
    color: #ff305b;
    text-transform: uppercase;
 }
 .home-content h4{
    font-size: 24px;
    font-weight: 200;
 }
 .about{
    padding: 50px 0;
 }
 .con{
   
    width: 85%;
    margin: auto;
    
 }
 .about-img{
    
    width: 30%;
    float: left;
    padding-left: 30px;
 }
 .img-border {
    border: 9px solid red;
    border-radius: 10px;
    
 }
 .img-border img{
    position: relative;
    top: 20px;
    left: 20px;
 }
 
 .about-content{
    
    width:60%;
    float: right;
    margin-right: -50px;
    color: #333;
    
    
 }

 .about-content h4{
    margin-bottom: 0;
    font-size: 30px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-left:  5px solid red;
    padding-left: 10px;
 }
 .about-content p{
    border-bottom: 1px dashed #999 ;
    padding-bottom: 20px;
    font-size: 15px;
    font-weight: 400;
 }
 .about-content .detalis .data{
    float: left;
    margin-right:30px;

 }
 .detalis .data h3{
    
    font-size: 20px;
 }

 .detalis .data span{
    font-weight: #555;
    font-weight: 300;
 }
 .detalis button{
   background-color: #ff305b;
    padding: 13px 25px;
    border: none;
    color: white;
    border-radius: 5px;
    font-size: 17px;
    margin-right: 10px;
    transition: all .5s;
    cursor: pointer;
 }

 .detalis button:hover{
     background-color: #ec2403;
 }
 

 .portfolio{
   padding: 50px 0;
   text-align: center;
   background-color: #dacece;
   width: 100%;
 }

 .portfolio .title{
   
   width: fit-content;
   margin: auto;
   position: relative;
 }
 .portfolio .title h3{
   color: #333;
   font-size: 40px;
 }
 .portfolio .title::after{
   content: '';
   width: 50%;
   height: 10px;
   border-top: 1px solid #333;
   border-bottom: 1px solid #333;
   position: absolute;
   left: 60px;
   top: 100%;

 }
 .portfolio .title::before{
   content: '';
   background-color: #ff305b;
   width: 80%;
   height: 1px;
   position: absolute;
   top: 110%;
   right: 10%;
 }
 .Our-services{
   width: 100%;
   
   display: flow-root;
 }
 .Our-services .services-card{
   width: 24%;
   float: left;
   
   margin: 20px 5px;
 }
 .Our-services .services-card:hover{
   background-color: white;
   transition: all .5s;
 }
 .port{
   padding: 50px 0;
   text-align: center;
   width: 100%;
   
 }
 .con4{
   display: flow-root;
   margin: auto;
   
 }
 
 .title4{
   
   width: fit-content;
   margin: auto;
   position: relative;
 }
 .title4 h3{
   color: #333;
   font-size: 40px;
 }
 .title4::after{
   content: '';
   width: 50%;
   height: 10px;
   border-top: 1px solid #333;
   border-bottom: 1px solid #333;
   position: absolute;
   left: 25%;
   top: 100%;
 }
 .title4::before{
   content: '';
   width: 80%;
   height: 1px;
   top: 110%;
   left: 10%;
   position: absolute;
   background-color: #333;
 }

 .port ul li{
   display: inline-block;
   margin: 10px 20px;
   font-size: 17px;
   color: #333;
   text-transform: uppercase ;
   font-weight: 400;
 }
 .card4{
   width: 30%;
   position: relative;
   cursor: pointer;
   float: left;
   margin: 20px;
 }
 .card4 img{
   width: 100%;
   
 }
 .port4-layer{
   background-color: rgba(0, 0, 0, .4);
   position: absolute;
   top: 0;
   right: 0;
   left: 0;
   bottom: 0;
   opacity: 0;
   transition: all .5s;
 }
 .card4:hover .port4-layer{
   opacity: 1;
 }
 .counter{
   
   width: 100%;
   background-color: #dacece;
 }
 .counter .con5{
   padding: 100px 0;
   width: 90%;
   
   margin: auto;
   display: flow-root;
 }
 .counter .con5 .card5{
   width: 23%;
   float: left;
   text-align: center;
   margin: 20px 5px;
   
 }